# Eclipse
/.classpath
/.project
/.settings

# netbeans
/nbproject
.*.sw[a-p]

/build
/bin
/dist
/manifest.mf
/target
build.xml

/.DS_Store

/lib
/WorldInventories.iml
/WorldInventories.ipr
/beanreg.dll
/WorldInventories.iws